.App {
  text-align: center;
  background-image: url('/public/background.jpg.jpg');
  background-size: cover;        /* Cover the entire screen */
  background-repeat: no-repeat;   /* Prevent tiling */
  background-position: center;    /* Center the image */
  min-height: 100vh;              /* Ensure it covers the full viewport */
  color: white;                   /* Text color to contrast with the background */
}

.App-header {
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 10px;
}

.logout-button {
  background-color: #ff4757;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #ff6b81;
}

.nav-links {
  margin-top: 10px;
}

.nav-links a {
  color: #61dafb;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo{
  float: inline-start;
  height: auto;
  width: 80px;
}


